{% include 'overall_header.html' %}
{% INCLUDEJS '@phpbb_webpushnotifications/wpn_acp.js' %}

<h1>{{ lang('ACP_WEBPUSH_EXT_SETTINGS') }}</h1>

<p>{{ lang('ACP_WEBPUSH_SETTINGS_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="webpushnotifications_settings" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('GENERAL_SETTINGS') }}</legend>
		<dl>
			<dt><label>{{ lang('WEBPUSH_ENABLE') ~ lang('COLON') }}</label><br><span>{{ lang('WEBPUSH_ENABLE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="config[wpn_webpush_enable]" value="1" {% if S_WEBPUSH_ENABLE %}checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="config[wpn_webpush_enable]" value="0"{% if not S_WEBPUSH_ENABLE %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
				<input class="button2" data-ajax="generate_vapid_keys" type="button" name="config[wpn_webpush_enable]" value="{{ lang('WEBPUSH_GENERATE_VAPID_KEYS') }}"></dd>
		</dl>
		<dl>
			<dt><label for="webpush_vapid_public">{{ lang('WEBPUSH_VAPID_PUBLIC') ~ lang('COLON') }}</label><br><span>{{ lang('WEBPUSH_VAPID_PUBLIC_EXPLAIN') }}</span></dt>
			<dd><label><input id="webpush_vapid_public" type="text" name="config[wpn_webpush_vapid_public]" size="25" maxlength="255" value="{{ WEBPUSH_VAPID_PUBLIC }}"></label></dd>
		</dl>
		<dl>
			<dt><label for="webpush_vapid_private">{{ lang('WEBPUSH_VAPID_PRIVATE') ~ lang('COLON') }}</label><br><span>{{ lang('WEBPUSH_VAPID_PRIVATE_EXPLAIN') }}</span></dt>
			<dd><label><input id="webpush_vapid_private" type="password" name="config[wpn_webpush_vapid_private]" size="25" maxlength="255" autocomplete="off" value="{{ WEBPUSH_VAPID_PRIVATE }}"></label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('WEBPUSH_DROPDOWN_SUBSCRIBE') ~ lang('COLON') }}</label><br><span>{{ lang('WEBPUSH_DROPDOWN_SUBSCRIBE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="config[wpn_webpush_dropdown_subscribe]" value="1" {% if S_WEBPUSH_DROPDOWN_SUBSCRIBE %}checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="config[wpn_webpush_dropdown_subscribe]" value="0"{% if not S_WEBPUSH_DROPDOWN_SUBSCRIBE %} checked="checked"{% endif %}> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('WEBPUSH_METHOD_ENABLED') ~ lang('COLON') }}</label><br><span>{{ lang('WEBPUSH_METHOD_ENABLED_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="config[wpn_webpush_method_enabled]" value="1" {% if S_WEBPUSH_METHOD_ENABLED %}checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="config[wpn_webpush_method_enabled]" value="0"{% if not S_WEBPUSH_METHOD_ENABLED %} checked="checked"{% endif %}> {{ lang('NO') }}</label></dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
