<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ SHORT_SITE_NAME }}">

<link rel="manifest" href="{{ U_MANIFEST_URL }}" crossorigin="use-credentials">

{% if U_TOUCH_ICON %}<link rel="apple-touch-icon" href="{{ ROOT_PATH ~ U_TOUCH_ICON }}">{% endif %}

{% if NOTIFICATIONS_WEBPUSH_ENABLE %}
	{% include '@phpbb_webpushnotifications/ucp_notifications_webpush.html' %}
	{% include '@phpbb_webpushnotifications/webpush_popup.html' %}
{% endif %}
